* {
  text-align: center;
  font-family: Helvetica;
}
.header {
background-image: url("../images/the-flatiron-building.png");
color: white;
}
.title {
  font-size: 70px;
}
.process {
  font-size: 32px;
}
.links {
  font-size: 18px;
}
/* the ../takes you from the "css" folder that the "style.css" document is in, into the "resources" folder, and from there you go to the "images" folder and to your image itself.*/

.new-york {
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  color: white;

}
.broadway {
  font-size: 11px;
}

.h3 {
  font-size: 23px;
}
.h4 {
  font-weight: normal;
}
.footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}
